<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>カート</h2>
<table>
<% @cart.line_items.each do |item| %>
  <tr>
    <td><%= item.quantity %>&times;</td>
    <td><%= truncate(item.product.title, length: 40) %></td>
    <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    <td><%= button_to('x', item, method: :delete, data: {confirm: '本当によいですか？'}) %></td>
  </tr>
<% end %>

  <tr class="total_line">
    <td colspan="2">合計</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>

</table>

<%= button_to('チェックアウト', new_order_path, method: :get) %>
<%= button_to('カートを空にする', @cart, method: :delete, data: {confirm: '本当によいですか？'}) %>

<p><%= link_to('買い物を続ける', store_path) %></p>
